.navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    background-color: white;
    z-index: 99;
}
.navbar-list {
    display:inline;
    list-style:none;
}
.navbar-item {
    position:relative;
    float:left;
    margin-bottom:0; /* overrides skeleton's li margin-bottom 10px */
}
.navbar-link {
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 20px;
    text-decoration: none;
    letter-spacing: .1rem;
    line-height: 5rem;
}
.navbar-link:hover{
    font-weight: 800;
}
.profile {
    float:right;
    z-index: 100;
}
#logout-btn { /* overrides skeleton button's margin */
    margin:0; 
}
#form-login-logout {
    padding-bottom: 0;
    padding-top: 0.5rem; /* adjust button height to be in line with hyperlink */ 

    margin: 0;
}